.commentsForm {
  height: auto;
  width: 80%;
  margin-bottom: 70px;

  display: flex;
  justify-content: space-between;

  .commentBody {
    min-height: 40px;
    width: 80%;
    word-wrap: break-word;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 20px;
  }
  button {
    cursor: pointer;
    height: 40px;
    color: #fff;
    background-color: black;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 556px) {
  .commentsForm {
    width: 100%;
    button {
      font-size: 12px;
    }
  }
}